/* Generado por Herramientas de desarrollo. Es posible que ésta no sea una representación precisa del archivo de origen original */
.Calendar
{
	margin-left: 2px;
}
.Calendar img
{
	background-position: 0px -256px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-256px;
}
.Calendar img:hover
{
	background-position: -0px -272px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-272px;
}
.Time
{
	margin-left: 2px;
}
.Time img
{
	background-position: 0px -304px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-304px;
}
.Time img:hover
{
	background-position: 0px -288px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-288px;
}
.Input
{
	background-color: #ffffff;
	border: 1px #A5ACB9 solid;
	font: 10px verdana, arial;
}


TABLE.RadCalendar_EMS {
	BORDER-RIGHT-WIDTH: 0px; 
	WIDTH: 220px; 
	BORDER-COLLAPSE: separate; 
	FONT: 10px Verdana, Arial; 
	BACKGROUND: #fff; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px
}
.RadCalendar_EMS .rcTitlebar {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-LEFT: #66789b 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 0px;
	background:#66789b; 
	COLOR: #fff; 
	BORDER-TOP: #66789b 1px solid; 
	BORDER-RIGHT: #66789b 1px solid; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcTitlebar TABLE {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-RIGHT-WIDTH: 0px; 
	WIDTH: 100%; 
	BORDER-COLLAPSE: separate; 
	FONT: 10/22px Verdana, Arial; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px
}
.RadCalendar_EMS .rcTitlebar TD {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 2px
}
.RadCalendar_EMS .rcTitlebar .rcTitle {
	WIDTH: 100%; 
	CURSOR: pointer
}
.RadCalendar_EMS .rcTitlebar .rcPrev {
	TEXT-INDENT: -1111px; 
	MARGIN: 0px 3px; 
	WIDTH: 15px; 
	DISPLAY: block; 
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 15px; COLOR: #ccc; OVERFLOW: hidden; TEXT-DECORATION: none
}
.RadCalendar_EMS .rcTitlebar .rcNext {
	TEXT-INDENT: -1111px; 
	MARGIN: 0px 3px; 
	WIDTH: 15px; 
	DISPLAY: block; 
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 15px; COLOR: #ccc; OVERFLOW: hidden; TEXT-DECORATION: none
}
.RadCalendar_EMS .rcTitlebar .rcFastPrev {
	TEXT-INDENT: -1111px; 
	MARGIN: 0px 3px; 
	WIDTH: 15px; 
	DISPLAY: block; 
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 15px; COLOR: #ccc; OVERFLOW: hidden; TEXT-DECORATION: none
}
.RadCalendar_EMS .rcTitlebar .rcFastNext {
	TEXT-INDENT: -1111px; 
	MARGIN: 0px 3px; 
	WIDTH: 15px; 
	DISPLAY: block; 
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 15px; COLOR: #ccc; OVERFLOW: hidden; TEXT-DECORATION: none
}
.RadCalendar_EMS .rcTitlebar .rcPrev {
	BACKGROUND-POSITION: 4px -48px;
	-ms-background-position-x:4px;
	-ms-background-position-y:-48px
}
.RadCalendar_EMS .rcTitlebar .rcNext {
	BACKGROUND-POSITION: 4px -98px;
	-ms-background-position-x:4px;
	-ms-background-position-y:-98px
}
.RadCalendar_EMS .rcTitlebar .rcFastPrev {
	BACKGROUND-POSITION: 2px 2px; 
	-ms-background-position-x:2px;
	-ms-background-position-y:2px;
	MARGIN-LEFT: 5px
}
.RadCalendar_EMS .rcTitlebar .rcFastNext {
	BACKGROUND-POSITION: 2px -148px; 
	-ms-background-position-x:2px;
	-ms-background-position-y:-148px;
	MARGIN-RIGHT: 5px
}
.RadCalendar_EMS .rcMain {
	BORDER: #66789b 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcMainTable {
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 5px 13px 6px 11px; 
	WIDTH: 89%; 
	BORDER-COLLAPSE: separate; 
	FONT: 10/15px Verdana, Arial; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px
}
.RadCalendar_EMS .rcHeader {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-LEFT: #66789b 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #66789b 0px solid; 
	BORDER-RIGHT: #66789b 1px solid; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcFooter {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-LEFT: #66789b 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #66789b 0px solid; 
	BORDER-RIGHT: #66789b 1px solid; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcRow TH {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 6px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	COLOR: #333; 
	BORDER-LEFT-WIDTH: 0px; 
	CURSOR: default; 
	FONT-WEIGHT: normal; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcWeek TH {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 6px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	COLOR: #333; 
	BORDER-LEFT-WIDTH: 0px; 
	CURSOR: default; 
	FONT-WEIGHT: normal; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcWeek TH {
	BORDER-BOTTOM: #66789b 1px solid; 
	TEXT-ALIGN: right; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px
}
.RadCalendar_EMS .rcRow TH {
	VERTICAL-ALIGN: middle
}
.RadCalendar_EMS .rcRow TD {
	VERTICAL-ALIGN: middle
}
.RadCalendar_EMS .rcRow TH {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendar_EMS .rcWeek .rcViewSel {
	TEXT-ALIGN: center; PADDING-LEFT: 4px; WIDTH: 14px
}
.RadCalendar_EMS .rcRow TH {
	TEXT-ALIGN: center; PADDING-LEFT: 4px; WIDTH: 14px
}
.RadCalendar_EMS .rcRow TD {
	BORDER-BOTTOM: #fff 1px solid; 
	TEXT-ALIGN: right; 
	BORDER-LEFT: #fff 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #fff 1px solid; 
	BORDER-RIGHT: #fff 1px solid; 
	PADDING-TOP: 0px
}
.RadCalendar_EMS .rcMain .rcRow A {
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 4px; 
	PADDING-RIGHT: 5px; 
	DISPLAY: block; 
	COLOR: #333;
	TEXT-DECORATION: none; 
	PADDING-TOP: 1px
}
.RadCalendar_EMS .rcMain .rcRow SPAN {
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 4px; 
	PADDING-RIGHT: 5px;
	DISPLAY: block; 
	COLOR: #333; 
	TEXT-DECORATION: none;
	 PADDING-TOP: 1px
}
.RadCalendar_EMS .rcMain .rcWeekend A {
	COLOR: #666
}
.RadCalendar_EMS .rcRow .rcToday {
	BORDER-BOTTOM-COLOR: #66789b; 
	BORDER-TOP-COLOR: #66789b; 
	BORDER-RIGHT-COLOR: #66789b; 
	BORDER-LEFT-COLOR: #66789b
}
.RadCalendar_EMS .rcMain .rcOtherMonth A {
	COLOR: #ccc
}
.RadCalendar_EMS .rcMain .rcOutOfRange SPAN {
	COLOR: #ccc; CURSOR: default
}
.RadCalendar_EMS .rcRow .rcHover {
	BORDER-BOTTOM-COLOR: #97a9cd; 
	BORDER-TOP-COLOR: #97a9cd; 
	BACKGROUND: #97a9cd; 
	BORDER-RIGHT-COLOR: #97a9cd; 
	BORDER-LEFT-COLOR: #97a9cd
}
.RadCalendar_EMS .rcRow .rcSelected {
	BORDER-BOTTOM-COLOR: #3c4d6d; 
	BORDER-TOP-COLOR: #3c4d6d; 
	BACKGROUND: #66789b; 
	BORDER-RIGHT-COLOR: #3c4d6d; 
	BORDER-LEFT-COLOR: #3c4d6d
}
.RadCalendar_EMS .rcMain .rcRow .rcSelected A {
	COLOR: #fff
}
TABLE.RadCalendarMultiView_EMS {
	WIDTH: auto
}
.RadCalendarMultiView_EMS .rcCalendar {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	WIDTH: 220px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 0px
}
.RadCalendarMultiView_EMS .rcCalendars .rcMainTable {
	MARGIN: 0px; 
	WIDTH: 100%
}
.RadCalendarMultiView_EMS .rcCalendars .rcMainTable .rcMainTable {
	MARGIN: 2px 6px 6px; 
	WIDTH: 90%
}
.RadCalendarMultiView_EMS .rcCalendars .rcMainTable .rcFirstCol .rcMainTable {
	MARGIN-LEFT: 12px
}
.RadCalendarMultiView_EMS .rcCalendars .rcMainTable .rcLastCol .rcMainTable {
	MARGIN-RIGHT: 12px
}
.RadCalendarMultiView_EMS .rcCalendars .rcMainTable .rcLastRow .rcMainTable {
	MARGIN-BOTTOM: 13px
}
.RadCalendarMultiView_EMS .rcMainTable .rcTitle {
	BORDER-BOTTOM: #66789b 1px solid; 
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FONT: 10px/23px verdana, arial; 
	COLOR: #000; 
	BORDER-TOP: #66789b 1px solid; 
	BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.RadCalendarMultiView_EMS .rcFirstRow .rcMainTable .rcTitle {
	BORDER-TOP-WIDTH: 0px
}
TABLE.RadCalendarMonthView_EMS {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-LEFT: #66789b 1px solid; 
	BORDER-COLLAPSE: separate; 
	FONT: 10px verdana,tahoma,sans-serif; 
	BACKGROUND: #fff; 
	COLOR: #707070; 
	BORDER-TOP: #66789b 1px solid; 
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS TD {
	PADDING-BOTTOM: 2px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 2px
}
.RadCalendarMonthView_EMS #rcMView_Feb {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS #rcMView_Apr {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS #rcMView_Jun {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS #rcMView_Aug {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS #rcMView_Oct {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS #rcMView_Dec {
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarMonthView_EMS A {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 2px; 
	PADDING-LEFT: 4px; 
	PADDING-RIGHT: 4px; 
	DISPLAY: block; 
	COLOR: #707070; 
	TEXT-DECORATION: none; 
	PADDING-TOP: 2px
}
.RadCalendarMonthView_EMS .rcHover A {
	BACKGROUND: #66789b
}
.RadCalendarMonthView_EMS .rcSelected A {
	BORDER: #3c4d6d 1px solid; 
	PADDING-BOTTOM: 1px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px; 
	BACKGROUND: #66789b;
	color:#fff;
}
.RadCalendarMonthView_EMS .rcButtons {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 3px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 7px; 
	PADDING-RIGHT: 7px; 
	BACKGROUND: #e3e3e3; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-TOP: #e3e3e3 1px solid; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 3px
}
.RadCalendarMonthView_EMS INPUT 
{
	border: 0px;
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FONT: 10px verdana,arial,sans-serif; 
	BACKGROUND-color: Transparent;
	color:#333;
}
.RadCalendarMonthView_EMS INPUT:hover {
	text-decoration: underline;
}
.RadCalendarMonthView_EMS #rcMView_Today {
	MARGIN: 0px 0.4em 0px 0px
}
.RadCalendarMonthView_EMS #rcMView_OK {
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0.2em; 
	PADDING-RIGHT: 0.2em; 
	PADDING-TOP: 0px
}
TABLE.RadCalendarTimeView_EMS {
	BORDER-BOTTOM: #66789b 1px solid; 
	BORDER-LEFT: #66789b 1px solid; 
	BORDER-COLLAPSE: separate; 
	FONT: 10px verdana,arial; 
	BACKGROUND: #fff; 
	BORDER-TOP: #66789b 1px solid; 
	BORDER-RIGHT: #66789b 1px solid
}
.RadCalendarTimeView_EMS TH {
	BORDER-BOTTOM: #66789b 1px solid; 
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FONT: 10px/16px verdana,arial; 
	BACKGROUND: #66789b; 
	BORDER-TOP-WIDTH: 0px; 
	COLOR: #fff; 
	BORDER-LEFT-WIDTH: 0px; 
	CURSOR: default; PADDING-TOP: 0px
}
.RadCalendarTimeView_EMS TD {
	BORDER-LEFT: #66789b 1px solid; 
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	PADDING-TOP: 0px
}
.RadCalendarTimeView_EMS TD:first-child {
	BORDER-LEFT-WIDTH: 0px
}
.RadCalendarTimeView_EMS A {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 6px; 
	PADDING-LEFT: 7px; 
	PADDING-RIGHT: 7px; 
	DISPLAY: block; 
	COLOR: #666; 
	TEXT-DECORATION: none; 
	PADDING-TOP: 6px
}
.RadCalendarTimeView_EMS TD.rcHover A {
	BACKGROUND: #66789b;
	color: #fff;
}
.RadCalendarTimeView_EMS TD.rcSelected A {
	BORDER-BOTTOM: #3c4d6d 1px solid; 
	BORDER-TOP: #3c4d6d 1px solid; 
	PADDING-BOTTOM: 4px; 
	PADDING-LEFT: 6px; 
	PADDING-RIGHT: 6px; 
	background: #66789b;
	color: #fff;
}
.RadCalendarTimeView_EMS .rcFooter {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-TOP: #66789b 1px solid; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 0px
}
.RadPicker_EMS {
	VERTICAL-ALIGN: middle
}
.RadPicker_EMS TABLE {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 0px
}
.RadPicker_EMS TABLE TD {
	PADDING-BOTTOM: 0px; 
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-TOP: 0px
}
.RadPicker_EMS TD {
	VERTICAL-ALIGN: middle
}
.RadPicker_EMS .rcInputCell {
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 4px; 
	PADDING-TOP: 0px
}
.RadPicker_EMS TD A {
	Z-INDEX: 2; 
	POSITION: relative; 
	MARGIN: 0px 2px; 
	OUTLINE-STYLE: none; 
	TEXT-DECORATION: none
}
* HTML .RadPicker_EMS TD A {
	POSITION: static
}
* + HTML .RadPicker_EMS TD A {
	POSITION: static
}
.RadPicker_EMS .rcCalPopup {
	TEXT-ALIGN: center; 
	TEXT-INDENT: -1111px; 
	WIDTH: 16px; 
	DISPLAY: block;
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 16px; OVERFLOW: hidden
}
.RadPicker_EMS .rcTimePopup {
	TEXT-ALIGN: center; 
	TEXT-INDENT: -1111px; 
	WIDTH: 16px; 
	DISPLAY: block; 
	BACKGROUND: url(WebResource.axd?d=_uoEVDa7GuyYloeDdpbohxA28GVsV3cOcFJrKnZT26k66PIl1_1OZ0TvbNU6cU8vvVKSx6uwANkNfTqYqghLaLEfHmM0vCEQZ1ofazetw3w1&t=633676094760000000) no-repeat; HEIGHT: 16px; OVERFLOW: hidden
}
.RadPicker_EMS .rcCalPopup {
	BACKGROUND-POSITION: 0px -200px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-200px
}
.RadPicker_EMS .rcCalPopup.rcDisabled:hover {
	BACKGROUND-POSITION: 0px -200px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-200px
}
.RadPicker_EMS .rcCalPopup:hover {
	BACKGROUND-POSITION: 0px -250px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-250px
}
.RadPicker_EMS .rcTimePopup {
	BACKGROUND-POSITION: 0px -300px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-300px
}
.RadPicker_EMS .rcTimePopup.rcDisabled:hover {
	BACKGROUND-POSITION: 0px -300px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-300px
}
.RadPicker_EMS .rcTimePopup:hover {
	BACKGROUND-POSITION: 0px -350px;
	-ms-background-position-x:0px;
	-ms-background-position-y:-350px
}
.RadPicker_EMS .rcDisabled {
	FILTER: alpha(opacity=50);
	-ms-filter:alpha(opacity=50);
	opacity: 0.5
}
.RadCalendarMonthView_EMS .rcDisabled {
	FILTER: alpha(opacity=50);
	-ms-filter:alpha(opacity=50);
	opacity: 0.5
}
.RadCalendarRTL_EMS .rcTitlebar TABLE {
	DIRECTION: ltr
}
.RadCalendarRTL_EMS .rcTitle {
	DIRECTION: rtl
}
 