/* Common CSS */

.RadMenu_EMS
{
	white-space:nowrap;
	position:relative;
	border: 0px solid #000;
}

.RadMenu_EMS .rmRootGroup
{
	margin:0;
	padding:0;
	position:relative;
	left:0;
	display: inline-block;
}

* html .RadMenu_EMS .rmRootGroup { float: left; }

.RadMenu_EMS:after,
.RadMenu_EMS .rmRootGroup:after
{
    content:""; 
    display:block;
    height:0;
    overflow: hidden;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.RadMenu_EMS ul.rmVertical,
.rmRootGroup ul.rmHorizontal,
.RadMenu_EMS_Context ul.rmHorizontal
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.rmSized ul.rmVertical
{
	width: 100%;
}

.rmSized .rmRootGroup .rmVertical
{
	width: auto;
}

.RadMenu_EMS .rmItem
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
}

* html .RadMenu_EMS .rmItem
{
	display:inline;
}

.RadMenu_EMS .rmHorizontal .rmItem
{
	clear:none;
}

.RadMenu_EMS .rmVertical .rmItem
{
	clear:both;
}

.rmSized .rmVertical .rmItem
{
	width: 100%;
}

.rmSized .rmRootGroup .rmVertical .rmItem
{
	width: auto;
}

.RadMenu_EMS ul.rmActive,
.RadMenu_EMS ul.rmRootGroup
{
	display:block;
}

.RadMenu_EMS .rmSlide, 
.RadMenu_EMS_Context
{
	position:absolute;
	overflow:hidden;
	display:none;
	float:left;
}

* html .RadMenu_EMS .rmSlide, 
* html .RadMenu_EMS_Context
{
	height:1px;
}

.RadMenu_EMS_Context
{
	z-index:1000;
	overflow:visible;
}

.RadMenu_EMS .rmText
{
	display:block;
}

.RadMenu_EMS div.rmText /*templates*/
{
	white-space:normal;
}

.RadMenu_EMS a.rmLink
{
	cursor:default;
	display:block;	
}


.rmScrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.RadMenu_EMS .rmLeftArrow,
.RadMenu_EMS .rmTopArrow,
.RadMenu_EMS .rmBottomArrow,
.RadMenu_EMS .rmRightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.RadMenu_EMS .rmLeftArrowDisabled,
.RadMenu_EMS .rmTopArrowDisabled,
.RadMenu_EMS .rmBottomArrowDisabled,
.RadMenu_EMS .rmRightArrowDisabled
{
	display:none;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
}

.RadMenu_EMS .rmBottomArrow,
.RadMenu_EMS .rmBottomArrowDisabled
{
	margin-bottom: -1px;
}

.RadMenu_EMS .rmLeftImage
{
	border:0;
	float:left;
}

.RadMenu_EMS_rtl
{
	float:right;
	text-align: right;
}

.RadMenu_EMS_rtl ul.rmHorizontal,
.RadMenu_EMS_rtl ul.rmVertical
{
	float:right;
}

.RadMenu_EMS_rtl .rmItem
{
	float:right;	
}

.RadMenu_EMS_rtl .rmLeftImage,
.RadMenu_EMS_rtlContext .rmLeftImage
{
	border:0;
	float:right;
}

.RadMenu_EMS_rtl .rmLeftArrow,
.RadMenu_EMS_rtl .rmTopArrow,
.RadMenu_EMS_rtl .rmBottomArrow,
.RadMenu_EMS_rtl .rmRightArrow,
.RadMenu_EMS_rtl .rmLeftArrowDisabled,
.RadMenu_EMS_rtl .rmTopArrowDisabled,
.RadMenu_EMS_rtl .rmBottomArrowDisabled,
.RadMenu_EMS_rtl .rmRightArrowDisabled
{
	text-indent:1000em !important;
}

.RadMenu_EMS .rmLink
{
	width:auto;
}

.RadMenu_EMS .rmSeparator,
.RadMenu_EMS .rmSeparator:after
{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.RadMenu_EMS div.rmRootGroup
{
    position: relative;
}



.RadMenu_EMS
{
	text-align: left;
}
.MnuItemRoot
{
	text-decoration: none;
	font: 10px Verdana, sans-serif;
	color: #666666;
	font-weight: bold;
	background: transparent url('Menu/Module.gif' ) no-repeat;
}
.MnuItemRootOver
{
	text-decoration: none;
	font: 10px Verdana, sans-serif;
	color: #666666;
	font-weight: bold;
	background: transparent url('Menu/ModuleOpen.gif' ) no-repeat;
}


.RadMenu_EMS .MnuItemRoot .rmText
{
	text-decoration: none;
	font: 10px Verdana, sans-serif;
	font-weight: bold;
	padding-left: 20px;
}
div.RadMenu_EMS ul.rmRootGroup
{
	padding: 0px 0px;
	float: left;
	font-weight: bold;
	padding-left: 0px;
	
}

.RadMenu_EMS .rmLink
{
	text-decoration: none;
	font: 10px Verdana, sans-serif;
	padding: 4px 6px;
	color: #666666;
}

.RadMenu_EMS .rmLink:hover, .RadMenu_EMS .rmExpanded, .RadMenu_EMS .rmFocused
{
	padding: 4px 6px;
	font-weight: bold;
	font: 10px Verdana, sans-serif;
	cursor: pointer;
}

.RadMenu_EMS .rmDisabled, .RadMenu_EMS .rmDisabled:hover
{
	color: #666666;
	padding: 4px 6px;
	border: 0;
	background: none;
	cursor: default;
	font-weight: bold;
}

/* submenu styling */

.RadMenu_EMS .rmGroup
{
	border: 1px solid #ccc;
	border-left: 20px solid #ccc;	
	background-color:#fff;
	font-weight: normal;
}

.RadMenu_EMS_rtl .rmGroup
{
	background-position: 100% 0;
}

.RadMenu_EMS .rmGroup .rmLink
{
	padding:  6px 1px;
	margin: 1px;
	font-weight: normal;
}

.RadMenu_EMS .rmGroup .rmText
{
	padding:   0 20px 0 10px;
}

.RadMenu_EMS .rmGroup .rmLink:hover, .RadMenu_EMS .rmGroup .rmExpanded, .RadMenu_EMS .rmGroup .rmFocused
{
	padding: 5px 0;
	border: 1px solid #FF9933;
	background: #FFD671;
	cursor: pointer;
	color: #333;

}

.RadMenu_EMS .rmGroup .rmDisabled, .RadMenu_EMS .rmGroup .rmDisabled:hover
{
	color: #666666;
	padding: 6px 1px;
	border: 0;
	background: none;
	cursor: default;
}

.RadMenu_EMS .rmGroup .rmExpandRight
{
	background: transparent url(  'Menu/rmExpandArrowRight.gif' ) no-repeat right 50%;
}

.RadMenu_EMS .rmGroup .rmExpandLeft
{
	background: transparent url(  'Menu/rmExpandArrowLeft.gif' ) no-repeat 0 50%;
}

.RadMenu_EMS .rmGroup .rmLeftImage
{
	margin-left: 2px;
}

/* double margin bugfix */
* html .RadMenu_EMS .rmGroup .rmLeftImage
{
	margin-left: 1px;
}

.RadMenu_EMS .rmExpanded
{
	z-index: 2000;
}

.RadMenu_EMS .rmSeparator
{
	margin: 0;
}

.RadMenu_EMS .rmGroup .rmSeparator .rmText
{
	background: #9ac6ff;
	padding-top: 1px;
	margin-left: 30px;
}

/* scrolling arrows */

.RadMenu_EMS .rmTopArrow, .RadMenu_EMS .rmBottomArrow
{
	background: #fff url(  'Menu/rmScrollingArrows.gif' ) no-repeat;
	border: 0 solid #898fa5;
	height: 10px;
	width: 100%;
	outline: 0;
}

.RadMenu_EMS .rmLeftArrow, .RadMenu_EMS .rmRightArrow
{
	background: #fff url(  'Menu/rmScrollingArrows.gif' ) no-repeat;
	border: 0 solid #898fa5;
	width: 10px;
	height: 28px;
	outline: 0;
}

.RadMenu_EMS .rmTopArrow
{
	background-position: 50% 0;
	border-bottom-width: 1px;
}
.RadMenu_EMS .rmBottomArrow
{
	background-position: 50% 100%;
	border-top-width: 1px;
}
.RadMenu_EMS .rmLeftArrow
{
	background-position: 0 50%;
	border-right-width: 1px;
}
.RadMenu_EMS .rmRightArrow
{
	background-position: 100% 50%;
	border-left-width: 1px;
}

.RadMenu_EMS_Context
{
	background: none;
}







