<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="customErrorAutomaticLogging" value="Off"/>
		<add key="customErrorAutomaticEmail" value="Off"/>
		<add key="customErrorEmailAddressTo" value="emiliano.marroquin@condesus.com.ar"/>
		<add key="customTechnicalSupportAddressTo" value="support@condesus.com.ar"/>
		<add key="ThemeIE6" value="ghree"/>
		<add key="ThemeIE7" value="ghree"/>
		<add key="ThemeIE8" value="ghree"/>
		<add key="ThemeIEDefault" value="ghree"/>
		<add key="ThemeFirefox" value="ghree"/>
		<add key="ThemeOther" value="ghree"/>
		<add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
		<!--<add key="DefaultPage" value="~/Dashboard/GeographicDashboard.aspx"/>-->
		<add key="DefaultPage" value="~/Default.aspx"/>
		<add key="IsVersionDemo" value="false"/>
		<add key="ReportPath" value="/EMS.Reports/rptProjectReports"/>
		<add key="ReportBuyerPath" value="/EMS.Reports/rptBuyerReports"/>
		<add key="UserReport" value="Administrator"/>
		<add key="PassReport" value="Web6719B"/>
		<add key="ReportServerUrl" value="http://svr-web/reportserver/"/>
		<add key="IdProjectRoleBuyer" value="4"/>
		<add key="IdProjectRoleProjectLeader" value="1"/>
		<add key="IdProjectRoleTechnicalDirector" value="2"/>
		<add key="IdExtendedPropertyStatus" value="16"/>
		<add key="IdExtendedPropertyLocation" value="18"/>
		<add key="IdExtendedPropertyERType" value="24"/>
		<add key="IdExtendedPropertyCategory" value="17"/>
		<add key="IdExtendedPropertyCountry" value="23"/>
		<add key="IdExtendedPropertyLastVisit" value="25"/>
		<add key="IdExtendedPropertyNextVisit" value="26"/>
		<add key="IdExtendedPropertyProjectStatus" value="27"/>
		<add key="IdExtendedPropertyPDDName" value="21"/>
		<add key="IdExtendedPropertyPINumber" value="29"/>
		<add key="IdExtendedPropertyProjectType" value="15"/>
		<add key="IdExtendedPropertyUNFCCC" value="30"/>
		<add key="IdExtendedPropertyVerificationDOE" value="31"/>
		<add key="IdExtendedPropertyVerificationFrequency" value="32"/>
		<add key="IdExtendedPropertyNextVerificationDate" value="33"/>
		<add key="IdExtendedPropertyCountryPB" value="23"/>
		<add key="IdExtendedPropertyProvince" value="18"/>
		<add key="IdExtendedPropertyCompanyDescription" value="34"/>
		<add key="IdExtendedPropertyContactInformation" value="35"/>
		<add key="IdExtendedPropertyConsultantIntermediary" value="36"/>
		<add key="IdExtendedPropertyProjectInvestor" value="10"/>
		<add key="IdExtendedPropertyBriefDescription" value="16"/>
		<add key="IdExtendedPropertyCDM" value="20"/>
		<add key="IdExtendedPropertyMethodologyNumber" value="39"/>
		<add key="IdExtendedPropertyCreditingPeriod" value="19"/>
		<add key="IdExtendedPropertyStatusDescription" value="27"/>
		<add key="IdExtendedPropertyBriefDescriptionER" value="40"/>
		<add key="IdExtendedPropertyUnexpectedEvents" value="41"/>
		<add key="IdExtendedPropertyExpectedEvents" value="42"/>
		<add key="IdExtendedPropertyTotalTonnes" value="43"/>
		<add key="IdExtendedPropertyMGMMonitoringContact" value="44"/>
		<add key="IdExtendedPropertyProjectName" value="28"/>
		<add key="IdExtendedPropertyProjectDescription" value="38"/>
		<add key="IdExtendedPropertyLifeTimeER" value="45"/>
		<add key="IdExtendedPropertyTotalTonnesOfCO2" value="46"/>
		<add key="PDDEstimated" value="1"/>
		<!--<add key="MAP_Type_Vendor" value="virtualearth"/>-->
		<add key="MAP_Type_Vendor" value="googlemap"/>
		<!-- Disables the embedded skins for all RadControls -->
		<add key="Telerik.EnableEmbeddedSkins" value="false"/>
		<add key="Telerik.EnableEmbeddedBaseStylesheet" value="false"/>
		<!--Indica los id de los indicadores a mostrar en el reporte de emisiones-->
		<!--<add key="IdIndicator_tnCO2e" value="83"/>
	<add key="IdIndicator_CO2" value="83"/>
	<add key="IdIndicator_CH4" value="83"/>
	<add key="IdIndicator_N2O" value="83"/>
	<add key="IdIndicator_PFC" value="83"/>
	<add key="IdIndicator_HFC" value="83"/>
	<add key="IdIndicator_SF6" value="83"/>-->

		<!--Indica los id de los indicadores a mostrar en el reporte de emisiones-->
		<!--INDICADORES GHREE-->
		<add key="IdIndicator_tnCO2e" value="22" />
		<add key="IdIndicator_CO2" value="8" />
		<add key="IdIndicator_CH4" value="7" />
		<add key="IdIndicator_N2O" value="9" />
		<add key="IdIndicator_PFC" value="10" />
		<add key="IdIndicator_HFC" value="11" />
		<add key="IdIndicator_SF6" value="12" />
		<add key="IdIndicator_HCNM" value="182" />
		<add key="IdIndicator_HCT" value="183" />
		<add key="IdIndicator_CO" value="257" />
		<add key="IdIndicator_NOx" value="258" />
		<add key="IdIndicator_SOx" value="262" />
		<add key="IdIndicator_PM" value="259" />
		<add key="IdIndicator_SO2" value="256" />
		<add key="IdIndicator_H2S" value="139" />
		<add key="IdIndicator_PM10" value="121" />
		<add key="IdIndicator_C2H6" value="206" />
		<add key="IdIndicator_C3H8" value="207" />
		<add key="IdIndicator_C4H10" value="208" />

		<!--INDICADORES DE PELSA-->
		<!--<add key="IdIndicator_tnCO2e" value="37" />
	  <add key="IdIndicator_CO2" value="67" />
	  <add key="IdIndicator_CH4" value="68" />
	  <add key="IdIndicator_N2O" value="70" />
	  <add key="IdIndicator_PFC" value="71" />
	  <add key="IdIndicator_HFC" value="69" />
	  <add key="IdIndicator_SF6" value="72" />
	  <add key="IdIndicator_HCNM" value="182" />
	  <add key="IdIndicator_HCT" value="183" />
	  <add key="IdIndicator_CO" value="257" />
	  <add key="IdIndicator_NOx" value="258" />
	  <add key="IdIndicator_SOx" value="262" />
	  <add key="IdIndicator_PM" value="259" />
	  <add key="IdIndicator_SO2" value="256" />
	  <add key="IdIndicator_H2S" value="281" />
	  <add key="IdIndicator_PM10" value="260" />
	  <add key="IdIndicator_C2H6" value="268" />
	  <add key="IdIndicator_C3H8" value="269" />
	  <add key="IdIndicator_C4H10" value="270" />-->
		<add key="States" value="1765,1778,6440"/>
		<!--Estos son los Id de GeographicArea que pertenecen a las provincias-->
		<add key="ChartHttpHandler" value="Storage=memory;Timeout=60;" />

		<add key="IdProcessClass_Territorial" value="1" />
		<add key="IdProcessClass_Sectorial" value="2" />
		<add key="IdProcessClass_Organizational" value="3" />
		<add key="IdProcessClass_Individual" value="4" />
		<add key="IdProcessClass_Productive" value="5" />
		<add key="PathBulkLoad" value="BulkLoad" />
		<add key="OperatorOnly" value="true" />
		<add key="SendNotificationMeasurementExecution" value="true" />
		<add key="ShowAllColumnReportGEI" value="true" />
	</appSettings>

	<!--<dataConfiguration defaultDatabase="EMSDemo"/>-->
	<!--<dataConfiguration defaultDatabase="EMSQAQC"/>-->
	<dataConfiguration defaultDatabase="EMS"/>
	<!--<dataConfiguration defaultDatabase="EMSYPF"/>-->
	<!--<dataConfiguration defaultDatabase="EMSPelsa"/>-->
	<!--<dataConfiguration defaultDatabase="EMSTernium"/>-->
	<connectionStrings>
		<!--TESTING-->
		<!--<add name="EMS" connectionString="Database=EMSQAQC;Server=SVR-WEB\SQL2008;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

		<!--DEMO FER-->
		<!--<add name="EMS" connectionString="Database=EMSCondesus;Server=SVR-WEB;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

		<!--DESARROLLO-->
		<!--<add name="EMS" connectionString="Database=EMS2008;Server=SRV-DEV\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

		<!--2005-->
		<!--<add name="EMS" connectionString="Database=EMS;Server=SRV-DEV;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

		<!--Tomacho-->
		<!--<add name="EMS" connectionString="Database=EMS;Server=XP-5007D5A93ED5\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

		<!--RUBEN-->
		<!--<add name="EMS" connectionString="Database=EMSiClei;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="EMS" connectionString="Database=EMS2008;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="EMS" connectionString="Database=EMSiClei;Server=SRV-DEV\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->


		<!--<add name="EMSYPF" connectionString="Database=EMSYPF;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMSDemo" connectionString="Database=EMSDEMO;Server=.\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMS" connectionString="Database=GHREE;Server=XPS-DAMIAN\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMS" connectionString="Database=GHREE;Server=.\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="EMS" connectionString="Database=EMS;Server=LAPTOP-4P47S9JH;User ID=sa;Password=sql@OX2014;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

		<!--<add name="EMSQAQC" connectionString="Database=EMSQAQC;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->


		<!--<add name="EMSPelsa" connectionString="Database=EMSPelsa;Server=.\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

		<!--<add name="EMSTernium" connectionString="Database=EMSTernium;Server=.\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

		<!--<add name="iClei" connectionString="Database=iClei;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->


		<!--iCLEI-->
		<!--<add name="EMS" connectionString="Database=EMSiClei;Server=SVR-WEB\SQL2008;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

		<!--Pelsa-->
		<!--<add name="EMS" connectionString="Database=EMSPelsa;Server=SRV-DEV\SQLWebPublished;User ID=sa;Password=6719BDev;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->



		<!--<add name="EMS" connectionString="Database=EMSQAQC;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMS" connectionString="Database=EMSCondesus;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->


		<!--<add name="EMS" connectionString="Database=EMS;Server=SVR-WEB;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="EMS" connectionString="Database=EMS_InitialData;Server=SRV-DEV;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="EMS" connectionString="Database=EMS.MGM;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->

		<!--<add name="EMS" connectionString="Database=EMS;Server=ntbkras;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>-->

		<!--<add name="EMS" connectionString="Database=GovEMS;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->

		<!--<add name="EMS" connectionString="Database=EMS;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMS" connectionString="Database=Demo.EMS;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644"/>
			</webServices>
		</scripting>
	</system.web.extensions>

	<system.web>
		<pages theme="EMS" masterPageFile="~/EMS.Master" enableSessionState="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

			</controls>
		</pages>
		<!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
   -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>

				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
   -->
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/Login_ghree.aspx" defaultUrl="~/Default.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false"/>
			<!--<forms name=".ASPXAUTH" loginUrl="~/Login.aspx" defaultUrl="~/Dashboard/GeographicDashboard.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false"/>-->
			<!--<forms name=".ASPXAUTH" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false"/>-->
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="30"></sessionState>
		<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/ErrorGeneric.aspx?ID=2">
			<error statusCode="404" redirect="/ErrorGeneric.aspx?ID=1"/>
			<error statusCode="403" redirect="/ErrorGeneric.aspx?ID=3"/>
			<error statusCode="402" redirect="/ErrorGeneric.aspx?ID=3"/>
			<error statusCode="401" redirect="/ErrorGeneric.aspx?ID=3"/>
		</customErrors>
		<httpModules>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
			<!--<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, RadUpload.Net2"/>-->
			<!--<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>-->
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<!-- Add this line exactly as is - the name value is important -->
			<!--<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />-->
		</httpModules>
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
			<!--<add verb="*" path="Telerik.RadUploadProgressHandler.aspx" type="Telerik.Web.UI.RadUploadProgressHandler, RadUpload.Net2"></add>-->
			<add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.2.831.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />

			<!--Telerik version nueva-->
			<!--
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />-->
		</httpHandlers>
		<httpRuntime executionTimeout="72000" maxRequestLength="1048576" requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="600" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
	</system.web>


	<location path="Test">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Skins">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler"/>
			<!--<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />-->
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsGhreeLicenseSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
				  receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://wsghreelicense.condesus.com.ar/wsghreelicense.asmx"
			  binding="basicHttpBinding" bindingConfiguration="wsGhreeLicenseSoap"
			  contract="wsGhreeLicense.wsGhreeLicenseSoap" name="wsGhreeLicenseSoap" />
		</client>
	</system.serviceModel>
</configuration>