<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>

	<!--<dataConfiguration defaultDatabase="EMS"/>-->
	<dataConfiguration defaultDatabase="EMS"/>
	<connectionStrings>
    
    <!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=Pelsa;Server=192.168.1.2\SQLwebpublished;User ID=sa;Password=6719BDev;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>-->
    
		<!--<add name="EMS" connectionString="Database=GHREE;Server=XPS-DAMIAN\SQL2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

    <add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMSPelsa;Server=XPS-DAMIAN\SQL2008;User ID=sa;Password=damian12;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>


		<!--<add name="EMSDemo" connectionString="Database=EMSDEMO;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		
    <!--<add name="EMS" connectionString="Database=EMSPelsa;Server=192.168.1.2\SQLWebPublished;User ID=sa;Password=6719BDev;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="EMSPelsa" connectionString="Database=EMSPelsa;Server=RAS\RAS2008;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

		<!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMSiClei;Server=192.168.1.2\SQL2008;User ID=sa;Password=6719BDev;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMS;Server=SRV-DEV;Integrated Security=SSPI;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>-->

    
    <!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMSQAQC;Server=SVR-WEB;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->
	
	<!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMSiClei;Server=192.168.1.3\SQL2008;User ID=sa;Password=Web6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->
		
		
    <!--<add name="Entities" connectionString="metadata=&quot;res://*/CT - Forum.ForumsModel.csdl|res://*/CT - Forum.ForumsModel.ssdl|res://*/CT - Forum.ForumsModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV-DEV;Initial Catalog=EMS;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=&quot;res://*/CT - Forum.Code.EntitiesModel.ForumsModel.csdl|res://*/CT - Forum.Code.EntitiesModel.ForumsModel.ssdl|res://*/CT - Forum.Code.EntitiesModel.ForumsModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV-DEV;Initial Catalog=EMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ForumEntities" connectionString="metadata=&quot;res://*/CT - Forum.ForumsModel.csdl|res://*/CT - Forum.ForumsModel.ssdl|res://*/CT - Forum.ForumsModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NOK\SQLEXPRESS;Initial Catalog=EMS_TEST;Persist Security Info=True;User ID=sa;Password=Claudio6719B;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EMS" connectionString="MultipleActiveResultSets=True;Database=EMS;Server=NOK\SQLEXPRESS;User ID=sa;Password=Claudio6719B;Persist Security Info=True;Min Pool Size=2;Max Pool Size=40;Connect Timeout=3600" providerName="System.Data.SqlClient" />-->
		<!--<add name="PitServer" connectionString="Database=PitServer_Dev_Eng;Server=SRV-DEV;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
		<!--<add name="PitServer" connectionString="Data Source=LAPTOPTONY\SQL_TONY;Initial Catalog=PitServerEX_new;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="PitServer" connectionString="Database=PitServerLM;Server=SVR-WEB;User ID=sa;Password=Web6719B;;Min Pool Size=2;Max Pool Size=40;Connect Timeout=60;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="PitServerConnectionString1" connectionString="Data Source=SRV-DEV;Initial Catalog=PitServer;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
		<!--
-->

	</connectionStrings>
</configuration>